/* ОСНОВНЫЕ НАСТРОЙКИ */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #FBFBF9;
  color: #1C1F1D;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ВЕРХНЯЯ ПАНЕЛЬ */
.topbar {
  background: #FBFBF9;
  border-bottom: 1px solid #e0e0e0;
}

.topbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.brand strong {
  font-size: 20px;
}

.brand span {
  display: block;
  font-size: 12px;
  color: #6a6a6a;
}

/* КНОПКИ */
.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #24382E;
  color: #24382E;
  transition: 0.3s;
}

.btn:hover {
  background: #24382E;
  color: #fff;
}

.btn--primary {
  background: #24382E;
  color: #fff;
}

/* ПЕРВЫЙ ЭКРАН */
.hero {
  background:
    linear-gradient(
      rgba(36, 56, 46, 0.45),
      rgba(36, 56, 46, 0.55)
    ),
    url("images/bg.jpg") center / cover no-repeat;
  padding: 120px 0;
  text-align: center;
  color: #fff;
}
.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  opacity: 0.95;
}

/* СЕКЦИИ */
.section {
  padding: 60px 0;
}

.section--sand {
  background-color: #EFE7D8;
}

.section h2 {
  margin-bottom: 20px;
}

/* СПИСКИ */
ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* ПОДВАЛ */
.footer {
  background: #24382E;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}
